
    <!-- Footer Area Start -->
    <footer class="kick-footer-area">
        <div class="kick-top-footer-area section_50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-footer-widget">
                            <h3>about <span>pyfcv</span></h3>
                            <p>PYFCV is a professional football network that connects talented players with clubs, scouts, and agents. Whether you're looking to showcase your profile, find new opportunities, or build your career in football, PYFCV is the platform that puts your game on the map.</p>
                             <ul class="single-footer-address">
                          
                                <li>
                                    <div class="add-icon">
                                        <i class="fa fa-envelope-o"></i>
                                    </div>
                                    <p><a href="#">info@postyourfootballcv.com</a></p>
                                </li>
                                <li>
                                    <div class="add-icon">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <p><a href="#">+123-456-78990</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="single-footer-widget">
                            <h3>Usefull link</h3>
                            <ul class="single-footer-link">
                                <li>
                                    <a href="{% url 'home' %}">
                                        <i class="fa fa-chevron-right"></i>
                                        home
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'home' %}#about">
                                        <i class="fa fa-chevron-right"></i>
                                        about us
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'football_job' %}">
                                        <i class="fa fa-chevron-right"></i>
                                        Football Jobs
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'players_data' %}">
                                        <i class="fa fa-chevron-right"></i>
                                        Players Data
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'football_job' %}">
                                        <i class="fa fa-chevron-right"></i>
                                        Apply for Job
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'contact' %}">
                                        <i class="fa fa-chevron-right"></i>
                                        Contact
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single-footer-widget">
                            <h3>Connect with us</h3>
                            <p>Follow us to stay in the loop on what's happening. Stay updated on the latest news, events, and opportunities in the football world.</p>

                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kick-footer-bottom section_15">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p class="desktop">
                                Copyright &copy; 2025 <a href="#">postyourfootballcv.com</a>
                            </p>
                            <p class="mobile">
                                Copyright &copy; 2025 <a href="#">postyourfootballcv.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
